@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixns";

.navBarContainer {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: $secondBGColor;
  width: 292px;
  padding: 39px 0 0 70px ;
  box-sizing: border-box;
}