@import "../../styles/sass/mixns";
@import "../../styles/sass/variables";

.searchContainer {
  .input {
    height: 36px;
    width: 70%;
    background: transparent;
    border: 1px solid #DEDBDC;
    border-radius: 3px;
    padding-left: 50px;
    &::placeholder{
      @include text(400, 14px, 24px);
      color: #B3B0B1;
    }
  }
}

