@import "../../../../common/styles/sass/mixns";

.cells {

  td {
    @include text(400, 14px, 24px);
    border-bottom: 1px solid #DEDBDC;
    padding: 12px 23px;
  }

  .textEnd {
    text-align: end;

    .delete {
      cursor: pointer;
    }
  }
}